@model IEnumerable<EBid.Models.Auction>

@{
    ViewData["Title"] = "ListAuction";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h3>List of Auction products</h3>

<table class="table text-center">
    <thead class="bg-secondary text-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuctionPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuctionStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuctionEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuctionIsActive)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuctionPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuctionStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuctionEndDate)
            </td>
            <td>
                @((item.AuctionIsActive)?"Active" :"Deactive")
            </td>
            <td class="d-flex gap-3 justify-content-center">
                    <a asp-route="AuctionDetails" asp-route-AuctionId="@item.AuctionId" class="btn btn-sm btn-primary px-4">Details</a>
                    <a asp-route="EditAuction" asp-route-AuctionId="@item.AuctionId" class="btn btn-sm btn-warning px-4">Edit</a>
                    <a asp-route="DeleteAuction" asp-route-AuctionId="@item.AuctionId" class="btn btn-sm btn-danger px-4">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
