@model EBid.Models.Auction

@{
    ViewData["Title"] = Model.Product.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row p-4">
    <div class="col-6 d-flex flex-column flex-nowrap">
        <div class="d-flex" style="width:100%;height:400px">
            <partial name="_DisplayProductImages" model="@Model.Product.Photos" />
        </div>
        @if(ViewBag.Show != "Listed")
        {
            <div class="d-flex">
                <div style="width:100px;"></div>
                @if(ViewBag.Show == "OnGoing")
                {
                    <div class="d-flex flex-column w-100 gap-3">
                        @if (ViewBag.YourBid == null)
                        {
                            <button type="button" class="btn btn-lg btn-warning w-100" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                start bidding
                            </button>
                        }
                        else
                        {
                            <div class="bg-info rounded py-2 px-4 fs-5">
                                <span>Your bidding amount is </span>
                                <span>@ViewBag.YourBid.BiddingPrice</span>
                            </div>
                        }
                        <details>
                            <summary class="px-4 py-2 fs-5" style="background-color: #e5e5f1">
                                Display Bidders
                            </summary>
                            <table class="table table-hover table-bordered" style="overflow-y:auto">
                                <thead class="bg-dark text-light">
                                    <tr>
                                        <th>Bidder Name</th>
                                        <th>Bidding Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.ListBidders != null)
                                    {
                                        @foreach (var bid in (List<Bid>)ViewBag.ListBidders)
                                        {
                                            <tr>
                                                <td>@($"{bid.Customer.FirstName} {bid.Customer.MiddleName} {bid.Customer.LastName}")</td>
                                                <td>@bid.BiddingPrice.ToString("C")</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </details>
                    </div>
                }
                else
                {
                    <button type="button" class="btn btn-lg btn-warning w-100">
                        Coming soon
                    </button>
                }
                <!-- Model -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Input your bidding price</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <form class="needs-validation" asp-route="HomePlaceBid" method="post" id="bidAt" enctype="application/json">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="UserName" value="@User?.Identity?.Name" />
                                        <input type="hidden" name="AuctionId" value="@Model.AuctionId" />
                                        <input type="hidden" name="ProductId" value="@Model.ProductId" />
                                        <div class="form-group">
                                            <input class="form-control" name="BidPrice" value="" min="@Model.AuctionPrice" placeholder="Enter bidding price" pattern="^[0-9]+$" aria-describedby="inputGroupPrepend" required />
                                        </div>
                                        <div class="invalid-feedback">
                                            error
                                        </div>
                                    </form>
                                }
                                else
                                {
                                    <small>Login first</small>
                                    <a asp-route="Login" asp-route-return="">Login</a>
                                }
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" form="bidAt" class="btn btn-primary">Done</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div>
                @if (ViewBag.Listed_Winner != null)
                {
                    
                <h3>Our Winner is 
                    <span>
                        @($"{ViewBag.Listed_Winner.Customer.FirstName} {ViewBag.Listed_Winner.Customer.MiddleName} {ViewBag.Listed_Winner.Customer.LastName}") 
                    </span>
                    who place the heighest bidding price 
                    <span>@ViewBag.Listed_Winner.BiddingPrice.ToString("C")</span>
                    </h3>
                }
                else
                {
                    <h5 class="text-danger">No one bids, so there is no winner or loser.</h5>
                }
            </div>
        }
    </div>
    <div class="col-6">
        <div class="row mb-4">
            <h2 class="mt-2">@Html.DisplayFor(model => model.Product.Name)</h2>
            <div class="mb-3">
                <span class="fw-bold">Price:</span>
                <span class="fw-bold">@Model.AuctionPrice.ToString("C")</span>
            </div>
            <div>
                <span class="fw-bold text-secondary">@Html.DisplayNameFor(model => model.AuctionStartDate):</span>
                <span class="">@Model.AuctionStartDate</span>
            </div>
            <div>
                <span class="fw-bold text-secondary">@Html.DisplayNameFor(model => model.AuctionEndDate):</span>
                <span class="">@Model.AuctionEndDate</span>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <partial name="_ProductDetails" model="@Model.Product.ProductDetails" />
            </div>
        </div>
    </div>
</div>

<script>
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
            if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
            }

            form.classList.add('was-validated')
        }, false)
    })
    }) ()
</script>